<div
  class="w-[384px] px-2 flex flex-col items-center justify-center border border-[#0021] rounded-lg p-6"
>
  <div class="mb-4">
    <img src="./assets/imgs/oneid-new.png" alt="" />
  </div>
  <div class="text-[#D1D1D1] text-black text-center mb-4 font-thin text-[17px]">
    Yagona identifikatsiya tizimi <br />
    orqali avtorizatsiya
  </div>
  <a
    (click)="gotoOneId()"
    role="button"
    class="h-12 w-full flex justify-center duration-150 rounded-[10px] bg-[#4825C2]"
  >
    <img src="./assets/imgs/logo-oneid.png" alt="" />
  </a>
</div>
