<div
  class="max-w-[1440px] w-full mx-auto py-32 px-10 flex flex-col items-center justify-between gap-[72px]"
>
  <div class="flex flex-col items-center gap-2 text-center">
    <h2 class="text-[48px] font-medium text-[#0A0A0A] leading-14">Loyiha haqida</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="flex items-start space-x-4">
      <div class="p-3 rounded-xl bg-green-100">
        <div class="w-10 h-10">
          <span class="pi pi-file text-[#16A34A]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">50 000 sertifikatlar</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Turli kasblarni amalda sinab ko‘ring. Real ish jarayonlari bilan tanishing va o'zingizga
          mos yo'nalishni toping
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-3 rounded-xl bg-[#FFEDD4]">
        <div class="w-10 h-10">
          <span class="pi pi-users text-[#EA580C]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">100 000 psixologlar</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Do'stlaringiz bilan kelajakdagi karyera va zamonaviy kasblar haqida interaktiv
          mashg'ulotlarda qatnashing
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-4 rounded-xl bg-[#EDE9FE]">
        <div class="w-10 h-10">
          <span class="pi pi-video text-[#7C3AED]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">1000 video</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Ota-onalar bilan psixologik testlar va diagnostikadan o'ting. Oilaviy muhokama orqali
          to'g'ri yo'nalishni tanlang
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-3 rounded-xl bg-[#EDE9FE]">
        <div class="w-10 h-10">
          <span class="pi pi-video text-[#7C3AED]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">1000 videoc</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Ota-onalar bilan psixologik testlar va diagnostikadan o'ting. Oilaviy muhokama orqali
          to'g'ri yo'nalishni tanlang
        </p>
      </div>
    </div>
  </div>
</div>
