<div class="w-full flex flex-col items-center gap-[72px] py-32 px-10">
  <p class="max-w-[1000px] text-[#0A0A0A] text-[48px] font-medium leading-14 text-center">
    Kasb tanlash — bu o‘z potensialingizni ochish va baxtli hayot qurishni anglatadi
  </p>
  <div class="w-full grid grid-cols-2 gap-4">
    <div
      class="py-[68px] bg-[#F5F9FF] flex flex-col items-center justify-center gap-2 border border-[#D9E9FF] rounded-2xl"
    >
      <p class="text-[#4593FF] text-[72px] font-medium leading-20">12.5 mln</p>
      <div class="flex items-center gap-2">
        <span class="pi pi-eye text-[#4593FF]"></span>
        <p class="text-[#4593FF] text-[18px] font-medium leading-6">Platforma ko'rishlari</p>
      </div>
    </div>
    <div
      class="py-[68px] bg-[#F5F9FF] flex flex-col items-center justify-center gap-2 border border-[#D9E9FF] rounded-2xl"
    >
      <p class="text-[#4593FF] text-[72px] font-medium leading-20">500+</p>
      <div class="flex items-center gap-2">
        <span class="pi pi-eye text-[#4593FF]"></span>
        <p class="text-[#4593FF] text-[18px] font-medium leading-6">Video darslar</p>
      </div>
    </div>
    <div
      class="py-[68px] bg-[#F5F9FF] flex flex-col items-center justify-center gap-2 border border-[#D9E9FF] rounded-2xl"
    >
      <p class="text-[#4593FF] text-[72px] font-medium leading-20">24/7</p>
      <div class="flex items-center gap-2">
        <span class="pi pi-eye text-[#4593FF]"></span>
        <p class="text-[#4593FF] text-[18px] font-medium leading-6">Qo‘llab-quvvatlash hizmati</p>
      </div>
    </div>
    <div
      class="py-[68px] bg-[#F5F9FF] flex flex-col items-center justify-center gap-2 border border-[#D9E9FF] rounded-2xl"
    >
      <p class="text-[#4593FF] text-[72px] font-medium leading-20">2,847</p>
      <div class="flex items-center gap-2">
        <span class="pi pi-eye text-[#4593FF]"></span>
        <p class="text-[#4593FF] text-[18px] font-medium leading-6">
          Maktablar loyihada ishtirok etmoqda
        </p>
      </div>
    </div>
  </div>
</div>
