<div class="py-32 px-10 flex flex-col items-center justify-between gap-[72px]">
  <div class="flex flex-col items-center gap-2 text-center">
    <h2 class="text-[48px] font-medium text-[#0A0A0A] leading-14">O'z potensialingizni oching</h2>
    <p class="max-w-[600px] text-[24px] text-[#0A0A0A] leading-8">
      Kelajagingiz haqida ongli qaror qabul qilishga yordam beradigan qiziqarli loyihalar bilan
      tanishing
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="flex items-start space-x-4">
      <div class="p-4 rounded-xl bg-green-100">
        <div class="w-10 h-10">
          <span class="pi pi-briefcase text-[#16A34A]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">
          Ishga yo'naltirish bo'yicha testlar
        </h3>
        <p class="text-[#525252] text-[20px] leading-7">
          O'zingiz uchun to'g'ri kasb tanlashga yordam beradigan testlardan o'ting. Qiziqishlar va
          qobiliyatlaringizni aniqlang
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-4 rounded-xl bg-orange-100">
        <div class="w-10 h-10">
          <span class="pi pi-briefcase text-[#EA580C]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">Portfelingizni yarating</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Biz sizga kasblar bilan portfel yaratishda yordam beramiz. Kelajak rejalashtirishni
          boshlang
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-4 rounded-xl bg-[#EDE9FE]">
        <div class="w-10 h-10">
          <span class="pi pi-users text-[#7C3AED]" style="font-size: 2.5rem"></span>
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">Oila bilan testlar</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Ota-onalar bilan psixologik testlar va diagnostikadan o'ting. Oilaviy muhokama orqali
          to'g'ri yo'nalishni tanlang
        </p>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="p-4 rounded-xl bg-[#E5F0FF]">
        <div class="w-10 h-10">
          <img src="./assets/svg/brain.svg" alt="" class="w-10 h-10" />
        </div>
      </div>
      <div class="flex flex-col items-start gap-1">
        <h3 class="text-[30px] font-medium text-[#0A0A0A] leading-9">Malakangizni oshiring</h3>
        <p class="text-[#525252] text-[20px] leading-7">
          Psixolog sifatida kurslarda qatnashing va sertifikatlar oling. Professional
          ko'nikmalaringizni rivojlantiring
        </p>
      </div>
    </div>
  </div>
</div>
