<div class="w-full flex flex-col gap-6 rounded-2xl p-6 shadow bg-white">
  <div class="">
    <p class="text-[#0A0A0A] text-[20px] font-medium leading-7 mb-0.5">Ro‘yxatdan o‘tish</p>
    <p class="text-[#525252] leading-6">Platformadagi rolingizni tanlang</p>
  </div>
  <div class="w-full flex flex-col gap-2 items-center">
    <div class="max-w-md mx-auto bg-white">
      <form class="flex flex-col gap-4">
        <div class="p-field">
          <label for="hujjat-turi" class="block text-sm font-medium text-gray-700 mb-1"
            >Hujjat turi</label
          >
          <p-select
            id="hujjat-turi"
            [options]="documentTypes"
            optionLabel="name"
            placeholder="Passport"
            class="w-full"
            styleClass="w-full"
          ></p-select>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div class="p-field">
            <label for="passport-seriyasi" class="block text-sm font-medium text-gray-700 mb-1"
              >Passport seriyasi</label
            >
            <input
              id="passport-seriyasi"
              pInputText
              placeholder="AA"
              class="w-full"
              styleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
            />
          </div>

          <div class="p-field">
            <label for="passport-raqami" class="block text-sm font-medium text-gray-700 mb-1"
              >Passport raqami</label
            >
            <input
              id="passport-raqami"
              placeholder="1234567"
              pInputText
              class="w-full"
              styleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
            />
          </div>
        </div>

        <div class="p-field">
          <label for="tugilgan-sana" class="block text-sm font-medium text-gray-700 mb-1"
            >Tug'ilgan sana</label
          >
          <p-datepicker
            id="tugilgan-sana"
            dateFormat="dd/mm/yy"
            placeholder="01 / 01 / 2020"
            [showIcon]="true"
            icon="pi pi-calendar"
            class="w-full"
            inputStyleClass="w-full"
            styleClass="w-full! rounded-lg bg-gray-100 border-none focus:ring-blue-500"
          ></p-datepicker>
        </div>

        <div class="p-field">
          <label for="login" class="block text-sm font-medium text-gray-700 mb-1">Login</label>
          <input
            id="login"
            placeholder="Login kiriting"
            pInputText
            class="w-full"
            styleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
          />
        </div>

        <div class="p-field">
          <label for="parol" class="block text-sm font-medium text-gray-700 mb-1">Parol</label>
          <p-password
            id="parol"
            placeholder="Parol kiriting"
            [toggleMask]="true"
            class="w-full"
            inputStyleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
            [feedback]="false"
          ></p-password>
        </div>

        <div class="p-field">
          <label for="parol-takrorlang" class="block text-sm font-medium text-gray-700 mb-1"
            >Parolni takrorlang</label
          >
          <p-password
            id="parol-takrorlang"
            placeholder="Parol takrorlang"
            [toggleMask]="true"
            class="w-full"
            inputStyleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
            [feedback]="false"
          ></p-password>
        </div>

        <div class="p-field">
          <label for="kontakt" class="block text-sm font-medium text-gray-700 mb-1"
            >Telefon raqam yoki email kiriting</label
          >
          <input
            id="kontakt"
            placeholder="Telefon raqam yoki email"
            pInputText
            class="w-full"
            styleClass="w-full p-3 rounded-lg bg-gray-100 border-none focus:ring-blue-500"
          />
        </div>

        <button
          pButton
          (click)="goToAdmin()"
          class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-150"
        >
          Ro'yxatdan o'tish
        </button>
      </form>
    </div>
  </div>
  <!-- <button
    class="py-2 bg-[#4593FF] rounded-xl text-white font-medium leading-6"
    [disabled]="!selectedRole()"
    (click)="submit()"
  >
    Davom etish
  </button> -->
</div>
