<div class="py-32 px-10 flex flex-col items-start justify-between gap-[72px]">
  <div class="flex flex-col gap-10">
    <div class="grid grid-cols-3 gap-4">
      @for(course of courses; track $index){
      <div class="flex flex-col gap-5">
        <div class="h-[293px] rounded-2xl overflow-hidden">
          <img [src]="course.imgLink" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="grow flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            {{ course.title }}
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            {{ course.description }}
          </p>
        </div>
        <button
          class="mt-1 w-full flex justify-center items-center gap-2 py-2 bg-white border border-[#DDDDDD] rounded-xl"
        >
          <p class="text-[#0A0A0A] font-medium leading-6">Batafsil</p>
          <span class="pi pi-arrow-right text-[#525252]" style="font-size: 0.7rem"></span>
        </button>
      </div>
      }
    </div>
    <div class="w-full flex items-center justify-center">
      <a routerLink="/sign-in" class="py-3 px-6 bg-[#4593FF] rounded-xl">
        <p class="text-white text-lg font-medium leading-6">Barcha kurslarni ko‘rish</p>
      </a>
    </div>
  </div>
</div>
