<footer class="py-10">
  <div class="max-w-[1440px] w-full mx-auto px-8 flex justify-between">
    <div class="flex flex-col gap-6">
      <div class="flex items-center gap-3">
        <img src="./assets/svg/logo.svg" alt="" />
        <span class="max-w-[200px] text-sm font-medium uppercase text-[#4593FF] leading-5"
          >KASBIY MUVAFFAQIYATGA YO'NALTIRISH PLATFORMASI</span
        >
      </div>
      <div class="flex items-center space-x-2 pt-2">
        <img src="./assets/svg/uzinfocom.svg" alt="" />
      </div>
    </div>

    <div class="max-w-[430px] w-full flex flex-col gap-[18px]">
      <p class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">O'quvchilar</p>
      <p class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">Pedagoglar</p>
      <p class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">Ota-onalar</p>
      <p class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">Sertifikat</p>
    </div>

    <div class="max-w-[430px] w-full flex flex-col gap-[18px]">
      <div class="flex items-center gap-2">
        <span class="pi pi-phone"></span>
        <span class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">+998 (77) 777 77 77</span>
      </div>

      <div class="flex items-center gap-2">
        <span class="pi pi-envelope text-[#525252]"></span>
        <span class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">kasb@gmail.com</span>
      </div>

      <div class="flex items-center gap-2">
        <span class="pi pi-telegram text-[#229ED9]"></span>
        <span class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">@kasb_uz</span>
      </div>

      <div class="flex items-center gap-2">
        <span class="pi pi-facebook text-[#1877F2]"></span>
        <span class="text-[#0A0A0A] font-medium leading-6 cursor-pointer">@kasb_uz</span>
      </div>
    </div>
  </div>
</footer>
