<div
  class="max-w-[1440px] w-full mx-auto py-32 px-10 flex flex-col items-start justify-between gap-[72px]"
>
  <div class="flex flex-col gap-1">
    <h3 class="text-[#0A0A0A] text-[48px] font-medium leading-14">Testlar</h3>
    <p class="max-w-[400px] text-[#525252] text-[20px] leading-7">
      Kasb-hunar yo'nalishi dunyosidan so'nggi yangiliklar va foydali materiallar
    </p>
  </div>
  <div class="flex flex-col gap-10">
    <div class="grid grid-cols-3 gap-10">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            IT sohasida o'quvchilar uchun yangi amaliy mashg'ulotlar boshlandi
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            O'quvchilar uchun dasturlash, dizayn va sun'iy intellekt bo'yicha bepul kurslar ishga
            tushdi. Hoziroq ro'yxatdan o'ting!
          </p>
        </div>
        <button
          class="w-full flex justify-center items-center gap-2 py-2 bg-white border border-[#DDDDDD] rounded-xl"
        >
          <p class="text-[#0A0A0A] font-medium leading-6">Boshlash</p>
          <span class="pi pi-arrow-right text-[#525252]" style="font-size: 0.7rem"></span>
        </button>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            50+ yangi hamkor kompaniyalar platformaga qo'shildi
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            Sanoat, savdo va moliya sektorlaridan yetakchi kompaniyalar o'quvchilar uchun amaliyot
            imkoniyatlarini taklif qilmoqda
          </p>
        </div>
        <button
          class="w-full flex justify-center items-center gap-2 py-2 bg-white border border-[#DDDDDD] rounded-xl"
        >
          <p class="text-[#0A0A0A] font-medium leading-6">Boshlash</p>
          <span class="pi pi-arrow-right text-[#525252]" style="font-size: 0.7rem"></span>
        </button>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            50+ yangi hamkor kompaniyalar platformaga qo'shildi
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            Sanoat, savdo va moliya sektorlaridan yetakchi kompaniyalar o'quvchilar uchun amaliyot
            imkoniyatlarini taklif qilmoqda
          </p>
        </div>
        <button
          class="w-full flex justify-center items-center gap-2 py-2 bg-white border border-[#DDDDDD] rounded-xl"
        >
          <p class="text-[#0A0A0A] font-medium leading-6">Boshlash</p>
          <span class="pi pi-arrow-right text-[#525252]" style="font-size: 0.7rem"></span>
        </button>
      </div>
    </div>
    <div class="w-full flex items-center justify-center">
      <a routerLink="/sign-in" class="py-3 px-6 bg-[#4593FF] rounded-xl">
        <p class="text-white text-lg font-medium leading-6">Barcha testlarni ko‘rish</p>
      </a>
    </div>
  </div>
</div>
