<div class="py-32 px-10 flex flex-col items-start justify-between gap-[72px]">
  <div class="w-full flex justify-center">
    <h3 class="max-w-[700px] text-[#0A0A0A] text-[48px] font-medium leading-14 text-center">
      Bu kasbni egallash uchun qayerda o‘qish kerak?
    </h3>
  </div>
  <div class="flex flex-col gap-10">
    <div class="grid grid-cols-3 gap-4">
      <div class="flex flex-col gap-5 p-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[219px] rounded-2xl overflow-hidden">
          <img src="./assets/imgs/university/tatu.png" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            TATU — Toshkent axborot texnologiyalari universiteti
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            Yo‘nalishlar: Dasturiy injiniring, Kompyuter injiniringi, Telekommunikatsiya
            texnologiyalari
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-5 p-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[219px] rounded-2xl overflow-hidden">
          <img
            src="./assets/imgs/university/milliy.png"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            Mirzo Ulug'bek nomidagi O'zbekiston Milliy universiteti
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            Yo‘nalish: Computer Science, Software Engineering
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-5 p-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[219px] rounded-2xl overflow-hidden">
          <img
            src="./assets/imgs/university/sharof.png"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            Sharof Rashidov nomidagi Samarqand davlat universiteti
          </p>
          <p class="text-[#525252] text-lg leading-6 line-clamp-2">
            Yo‘nalish: Information Technology
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex items-center justify-center">
      <button class="py-3 px-6 bg-[#4593FF] rounded-xl">
        <p class="text-white text-lg font-medium leading-6">Yana ko‘rsatish</p>
      </button>
    </div>
  </div>
</div>
