<div
  class="max-w-[1440px] w-full mx-auto py-32 px-10 flex flex-col items-start justify-between gap-[72px]"
>
  <div class="flex flex-col gap-1">
    <h3 class="text-[#0A0A0A] text-[48px] font-medium leading-14">Top 1000 universitetlar</h3>
    <p class="text-[#525252] text-[20px] leading-7">
      O‘zbekistondagi top 100 universitetlar ro‘yxati bilan tanishing
    </p>
  </div>
  <div class="flex flex-col gap-10">
    <div class="grid grid-cols-3 gap-10">
      <div class="p-6 flex flex-col gap-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[222px] rounded-xl overflow-hidden">
          <img src="./assets/imgs/universitet.png" alt="" class="object-cover" />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[20px] font-medium leading-7">#1</p>
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            Toshkent davlat milliy universiteti
          </p>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[222px] rounded-xl overflow-hidden">
          <img src="./assets/imgs/universitet.png" alt="" class="object-cover" />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[20px] font-medium leading-7">#2</p>
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            Toshkent davlat milliy universiteti
          </p>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-6 bg-[#0A0A0A0A] rounded-2xl">
        <div class="h-[222px] rounded-xl overflow-hidden">
          <img src="./assets/imgs/universitet.png" alt="" class="object-cover" />
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-[#0A0A0A] text-[20px] font-medium leading-7">#3</p>
          <p class="text-[#0A0A0A] text-[24px] font-medium leading-8">
            Toshkent davlat milliy universiteti
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex items-center justify-center">
      <a routerLink="/sign-in" class="py-3 px-6 bg-[#4593FF] rounded-xl">
        <p class="text-white text-lg font-medium leading-6">Barcha universitetlarni ko‘rish</p>
      </a>
    </div>
  </div>
</div>
